@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mobileNavItem {
    @apply py-[10px] tracking-wide hover:bg-orange-500 hover:text-white;
  }
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.hamburger {
  display: block;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.input-file-upload {
  display: none;
}

.blogCategory {
  @apply cursor-pointer bg-orange-500 px-[10px] py-[5px] text-white;
}

.label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
  @apply transition-all duration-300;
}

#gallery-file-upload.drag-active {
  @apply border-gray-400 bg-slate-200 shadow-xl;
}
#label-file-upload.drag-active {
  @apply border-gray-400 bg-slate-200 shadow-xl;
}

.upload-button {
  cursor: pointer;
  font-size: 1rem;
  @apply flex flex-row items-center justify-center gap-2 rounded-md border border-gray-300 bg-slate-50 px-2 py-1 shadow-sm transition-all duration-200;
}

.upload-button:hover {
  @apply bg-orange-500 text-white shadow-2xl;
}

.drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  @apply border-gray-300 bg-slate-100 py-5;
}

.info-window {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  @apply flex flex-col items-center justify-center gap-4 xs:flex-row xs:p-2;
}

.info-window h2 {
  font-size: 14px;
  margin-bottom: 8px;
  @apply font-bold;
}

.info-window p {
  font-size: 12px;
  margin-bottom: 10px;
}

.info-window a {
  font-size: 12px;
  color: #007bff;
  text-decoration: none;
  @apply flex flex-col items-center gap-2;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ff5722; /* Change this to any color you want for the active state */
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
